.topic-list {
  .topic-list-body {
    .badge-notification {
      font-size: var(--font-down-1);
    }
    
    .last-post {
      place-items: center;
      .poster-info {
        margin-top: 5px;
      }
	  .poster-avatar {
        text-align: center;
	  }
      .num.activity a {
        font-size: var(--font-down-1);
      }
    }
    
    .topic-list-data {
      .main-link {
        display: inline;
      }
      &.bulk-select-enabled .topic-item-metadata {
        margin-left: 50px;
      }
      .topic-item-metadata {
        margin-left: 0;
        .topic-list-data.posts,
        .topic-excerpt {
           width: 100%;
           display: block;
        }
        .pull-right {
          float: unset;
          display: inline-block;
        }
        .poster-avatar,
        .badge-posts {
          display: none;
        }
        .topic-item-stats {
          .activity {
            display: none;
          }
          .comments {
            display: inline-block;
            font-size: var(--font-down-1);
            margin-inline: 0.25em 0.5em;
            vertical-align: bottom;
            svg {
              vertical-align: bottom;
              margin-bottom: 0.125em;
            }
          }
        }
      }
    }
  }
}
